<div *ngIf="forecasts.length >= 5; else elseBlock">
  <div class="card text-center">
    <div class="card-header">
      Wybrana lokalizacja
    </div>
    <div class="card-body">
      <h5 class="card-title">{{forecasts[0].city}}</h5>
      <p class="card-text">
        Temperatura: {{forecasts[0].temperature}}&deg;C<br/>
        Szanse opadów: {{forecasts[0].rainChances}}%
      </p>
      <a href="#" class="btn btn-primary">Zobacz szczegóły</a>
    </div>
    <div class="card-footer text-muted">
      Ostatnia aktualizacja: {{forecasts[0].lastUpdate | date: 'HH:mm:ss dd-MM-yyyy'}}
    </div>
  </div>

  <div class="row">
    <div *ngFor="let forecast of forecasts.slice(1,3);" class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{forecast.city}}</h5>
          <p class="card-text">Temp.: {{forecast.temperature}}&deg;C / Szanse opad.: {{forecast.rainChances}}%</p>
          <a href="#" class="btn btn-primary">Zobacz szczegóły</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let forecast of forecasts.slice(3,5);" class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{forecast.city}}</h5>
          <p class="card-text">Temp.: {{forecast.temperature}}&deg;C / Szanse opad.: {{forecast.rainChances}}%</p>
          <a href="#" class="btn btn-primary">Zobacz szczegóły</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="alert alert-danger" role="alert">Nie udało się pobrać danych!</div>
</ng-template>